--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116
scikit-learn
mlflow
tqdm
matplotlib
python-dotenv

# for development
flake8
flake8-docstrings
pep8-naming
black
isort
